/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/open-sans-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #C3FDB8;  */ /* light jade */
  background-color:#F5FFFA; /*mint green */

  padding-left: 10%;
}
table, th, td {
   border: 1px solid black;
}
.noBorder {
    border-top: 0px hidden;
}
#homeownerDiv, #guestDiv, #decaturTimeDiv, #anacortesTimeDiv {
  padding-left: 50px;
}
#guestCheckDiv, #toDecaturDiv, #toAnacortesDiv,
#decaturTimeDiv, #anacortesTimeDiv {
  display: none;
}
#subMsg {
  padding-left: 20px;
}
#homeownerReq, #guestReq, #requireGuestAccept, #emailReq, #phoneError,
#guestNumError, #noTravellerError, #decBoatCountError, #anaBoatCountError,
#tripTypeReq, #decaturDateReq, #decaturTimeReq, #anacortesDateReq,
#anacortesTimeReq, #adminLoginIncorrect {
  color: red;
  display: none;
}
 #selectPayError {
  color: red;
}
